# start/ (automatically loaded)
[submodule "org.vim"]
	path = start/org.vim
	url = git@github.com:axvr/org.vim.git
	branch = master
[submodule "vim-colorpack"]
	path = start/vim-colorpack
	url = git@github.com:daviddavis/vim-colorpack.git
	branch = master
[submodule "vim-commentary"]
	path = start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
	branch = master
[submodule "vim-dispatch"]
	path = start/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
	branch = master
[submodule "vim-endwise"]
	path = start/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
	branch = master
[submodule "vim-fugitive"]
	path = start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
	branch = master
[submodule "vim-helm"]
	path = start/vim-helm
	url = https://github.com/towolf/vim-helm.git
	branch = master
[submodule "vim-lion"]
	path = start/vim-lion
	url = git@github.com:tommcdo/vim-lion.git
	branch = master
[submodule "vim-markdown"]
	path = start/vim-markdown
	url = git@github.com:preservim/vim-markdown.git
	branch = master
[submodule "vim-matchit"]
	path = start/vim-matchit
	url = git@github.com:adelarsq/vim-matchit.git
	branch = master
[submodule "vim-mustache-handlebars"]
	path = start/vim-mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars.git
	branch = master
[submodule "vim-ragtag"]
	path = start/vim-ragtag
	url = git@github.com:tpope/vim-ragtag.git
	branch = master
[submodule "vim-repeat"]
	path = start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
	branch = master
[submodule "vim-surround"]
	path = start/vim-surround
	url = git@github.com:tpope/vim-surround.git
	branch = master
[submodule "vim-terraform"]
	path = start/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
	branch = master
[submodule "vim-unimpaired"]
	path = start/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
	branch = master
[submodule "ZoomWin"]
	path = start/ZoomWin
	url = git@github.com:vim-scripts/ZoomWin.git
	branch = master

# opt/ (load with :packadd packagename)
[submodule "aspnetide.vim"]
	path = opt/aspnetide.vim
	url = git@github.com:vim-scripts/aspnetide.vim.git
	branch = master
[submodule "nerdtree"]
	path = opt/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
	branch = master
[submodule "syntastic"]
	path = opt/syntastic
	url = git@github.com:scrooloose/syntastic.git
	branch = master
[submodule "taboo.vim"]
	path = opt/taboo.vim
	url = git@github.com:gcmt/taboo.vim.git
	branch = master
[submodule "tagbar"]
	path = opt/tagbar
	url = git@github.com:majutsushi/tagbar.git
	branch = master
[submodule "vbnet.vim"]
	path = opt/vbnet.vim
	url = git@github.com:vim-scripts/vbnet.vim.git
	branch = master
[submodule "vim-abolish"]
	path = opt/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
	branch = master
[submodule "vim-bookmarks"]
	path = opt/vim-bookmarks
	url = git@github.com:MattesGroeger/vim-bookmarks.git
	branch = master
[submodule "vim-characterize"]
	path = opt/vim-characterize
	url = git@github.com:tpope/vim-characterize.git
	branch = master
[submodule "vim-flagship"]
	path = opt/vim-flagship
	url = git@github.com:tpope/vim-flagship.git
	branch = master
[submodule "vim-obsession"]
	path = opt/vim-obsession
	url = git@github.com:tpope/vim-obsession.git
	branch = master
[submodule "vim-sleuth"]
	path = opt/vim-sleuth
	url = git@github.com:tpope/vim-sleuth.git
	branch = master
[submodule "vim-speeddating"]
	path = opt/vim-speeddating
	url = git@github.com:tpope/vim-speeddating.git
	branch = master
[submodule "vim-table-mode"]
	path = opt/vim-table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
	branch = master
